:root {
  scroll-behavior: smooth; 
  --main-color: #fff;
  --paragraph-color: #55595c;
}

.main {
  display: none;
}

.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 11000px;
  background-color: #000;
}

.loading .loading-img {
  position: fixed;
  top: 50%;
  left: 50%;
}

body {
  max-width: 1124px;
  margin: auto;
  font-family:'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, nav a {
  font-family: 'Raleway SemiBold', sans-serif;
}

.banner {
  background-image: url(../img/banner.jpg);
  min-height: 690px;
  background-size: cover;
  background-position: center;
  color: var(--main-color);
  z-index: 1;
}

.banner .navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100;
}

.banner .logo {
  width: 112px;
  height: 65px;
  background-color: #ffc200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .logo .logo-img {
  width: 50%;
}

.clock {
    font-family: 'Nanum Gothic', sans-serif;;
    width: 200px;
    height: 50px;
    color: #ffc10c;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }


.banner .content-slider {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  
.slider {
  height: 400px;
  width: 650px;
  margin-top: 200px;
  margin-left: 180px;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 400px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 650px;
  height: 400px;
  position: absolute;
  top: -405px;
  list-style: none;
}

.slider h1 {
  font-size: 2.6rem;
  font-weight: 800;
}

.slider hr {
    width: 100px;
    height: 3px;
    margin-left: 0;
    background-color: #ffc10c;
    border: none;
}

.slider p {
    font-size: 1.2rem;
    color: #b6b7b9;
    line-height: 32px;
}
.slider li.slider-1 {
  animation: cycle 15s linear infinite;
}

.slider li.slider-2 {
  animation: cycle2 15s linear infinite;
}

.slider li.slider-3 {
  animation: cycle3 15s linear infinite;
}

.slider li.slider-4 {
  animation: cycle4 15s linear infinite;
}

.slider li.slider-5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -405px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -405px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -405px;
    opacity: 0;
  }
  16% {
    top: -405px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -405px;
    opacity: 0;
  }
  36% {
    top: -405px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -405px;
    opacity: 0;
  }
  56% {
    top: -405px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -405px;
    opacity: 0;
  }
  76% {
    top: -405px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
}

.more-about-button,
.back-to-top {
  width: 200px;
  height: 50px;
  background-color: #e64e04;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -25px 580px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.more-about-button a,
.back-to-top a {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 900;
  text-decoration: none; 
}

.more-about-button:hover,
.back-to-top:hover {
    background-color: #ffc10c;  
}

.works, .about {
  background-color: #101417;
}

.services, .contact {
  background-color: #12151c;
}

.footer {
  background-color: #0e1215;
}

h3 {
  color: var(--main-color);
  margin-top: 0;
  padding: 70px 0 10px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

h3 span {
  color: #d5ca54;
  padding: 10px 0;
}

.works .section-info hr,
.services .section-info hr,
.about .section-info hr,
.about .team-section-info hr,
.contact .section-info hr {
  width: 100px;
  height: 2px;
  margin-left: 0;
  background-color: #2c3437;
  border: none;
}

.works .section-info .paragraph,
.services .section-info p,
.about .section-info p,
.contact .form-col2 p:first-child {
  color: var(--paragraph-color);
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin: 20px 0 50px 0;
}

.services .section-info p,
.about .section-info p,
.contact .form-col2 p {
  margin-bottom: 30px;
  color: #585b62;
}
  
.works .project-works {
  display: flex;
  flex-wrap: wrap;
}

.services .services-proposals h3,
.about .about-us h3,
.about .team h3 {
  padding: 0;
  color: #f8c701;
  text-transform: capitalize;
  font-weight: 600;
}

.services .section-info p,
.services .services-proposals p,
.about .about-us p,
.about .team p {
  color: #575b5e;
}

.services .services-proposals p,
.about .about-us p,
.about .team p,
.footer-info p {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
  padding: 20px 0;
}

.about .team {
  padding-top: 20px;
}

.about .team h3 {
  padding: 10px 0;
}

.about .team span {
  color: var(--main-color);
  font-size: 0.7rem;
  margin: 20px 0;
}

.about .team p {
  padding: 10px 0;
}

.about .team .soc-media-profiles {
  margin-bottom: 70px;
}

.about .team .soc-media-profiles a {
  color: var(--main-color);
  padding: 20px 10px 20px 0;
}

.about .team .soc-media-profiles a:hover {
  color: #ffbb01; 
}

.contact .contacts .form-col1 fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 0;
  color: #000;
}

.contact .contacts .form-col1 {
  display: flex;
  flex-direction: column;
}

.contact .contacts label {
  padding: 10px 0;
}

.contact .contacts .form-col1 input {
  width: 100%;
  height: 30px;
  background-color: #292c31;
  border: none; 
  margin: 0;
  color: var(--main-color);
}

.contact .contacts .form-col1 textarea {
  width: 100%;
  height: 200px;
  background-color: #292c31;
  border: none; 
  padding: 0;
  color: var(--main-color);
}

.contact .contacts .form-col1 button {
  width: 100%;
  height: 30px;
  background-color: #fdc401;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 80px;
}

.contact .contacts .form-col2  {
  margin: 10px 0 40px 10px;
}

.contact .contacts .form-col2 p {
  margin: 0;
}

.contact .contacts .form-col2 h3 {
  padding-top: 30px;
  color: #f8c701;
  text-transform: capitalize;
}

.contact .contacts .form-col2 h3 + p {
  font-size: 0.9rem;
}

.more-about-button {
  margin: -25px auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--paragraph-color);
}

.footer .soc-icons-footer {
  margin: 80px 0 20px 0;
  font-size: 2rem;
}

.footer .soc-icons-footer a {
  color: #28292d;
  padding: 25px 10px;
}

.footer hr {
  width: 200px;
  height: 2px;
  border: none;
  background-color: #292a2e;
}

.footer .soc-icons-footer a:hover {
   color: var(--main-color);
}

.footer .footer-info .footer-logo p {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #292a2e;
  letter-spacing: 0.3rem;
  margin: 0 auto;
}

.footer p {
  width: 0.8rem;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 1.2rem;
  color: #292a2e;
}

.footer .copyright {
  width: 70%;
}

.footer .copyright p {
  font-size: 0.6rem;
  text-align: center;
  color: #292a2e;
}

@media (max-width: 540px)  {
  .banner .soc-media-icons {
    display: none;
  }
  
  .banner .menu-links {
    display: none;
  }
  
  .clock {
    display: none;
  }
  
  .banner .content-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .slider {
    height: 400px;
    width: 300px;
    margin-top: 100px;
    margin-left: 20px;
    overflow: visible;
    position: relative;
  }
  
  .slider li {
    width: 300px;
  }
  
  .slider h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .slider hr {
    width: 100px;
    height: 2px;
  }

  .slider p {
    font-size: 0.79rem;
    line-height: 22px;
  }
  
  .more-about-button, 
  .back-to-top {
    margin: -25px auto;
  }
  
  .works .section-info,
  .services .section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }
  
  .works .project-works img {
    width: 100%;
    height: 100%;
  }
  
  .services .services-proposals {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
  
  .about .about-us {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
   .about .team {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .team img {
    width: 100%;
  }
  
  .about .team .soc-media-profiles {
    color: var(--main-color);
    padding: 20px 0;
  }
  
  .contact .contacts .form-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact .contacts .form-col1 fieldset {
    width: 300px;
  }
  
  .contact .contacts .form-col2  {
    margin: 10px 10px 0 10px;
  }
  
  .contact .contacts .form-col2 p:last-child {
    padding-bottom: 40px;
  }
}

@media(min-width: 541px) and (max-width: 800px)  {
  .banner .soc-media-icons {
    display: none;
  }
  
  .banner .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .banner .menu-links {
    display: none;
    width: 100%;
  }
  
  .banner .menu-links a {
    display: block;
    text-align: center;
  }
  
  .banner .content-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 20px;
    overflow: visible;
    position: relative;
  }
  
  .slider li {
    width: 500px;
  }
  
  .slider h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .slider hr {
    width: 100px;
    height: 2px;
  }

  .slider p {
    font-size: 0.85rem;
    line-height: 24px;
  }
  
  .more-about-button,
  .back-to-top {
    margin: -25px auto;
  }
  
  .clock {
    display: none;
  }
  
  .works .section-info,
  .services .section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }
  
  .works .project-works img {
    width: 50%;
    height: 50%;
  }
  
  .services .services-proposals {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .about-us {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .about .team {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .team img {
    width: 100%;
  }
  
  .about .team .soc-media-profiles {
    color: var(--main-color);
    padding: 20px 0;
  }
  
  .contact .contacts .form-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact .contacts .form-col1 fieldset {
    width: 500px;
  }
  
  .contact .contacts .form-col2  {
    margin: 10px 10px 0 10px;
  }
  
  .contact .contacts .form-col2 p:last-child {
    padding-bottom: 40px;
  }
}
  
@media(min-width: 801px ) {
  .banner .navigation {
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
    
  .banner .logo {
    margin-left: 100px;
  }
    
  .banner nav {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
  }

  .banner nav a {
    text-decoration: none;
    color: var(--main-color);
    padding: 25px 15px;
  }
  
  .banner nav a:hover,
  .banner .soc-media-icons a:hover {
      color: #ffbb01;
  }

  .banner nav a:last-child {
      border-right: 1px solid #242424;
  }
    
  .banner .soc-media-icons {
    margin-left: 20px;
  }
  
  .banner .soc-media-icons a {
    color: var(--main-color);
    margin: 10px 5px;
  }
  
  .banner .content-slider {
    width: 100%;
    height: 360px;
    margin-left: -180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .works .section-info,
  .services .section-info,
  .about .section-info {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .works .project-works img {
    width: 25%;
    height: 25%;
  }
  
  .services .services-proposals,
  .about .team {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .about-us {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .team {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }
  
  .about .team img {
    width: 100%;
  }
  
  .contact .contacts {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact .section-info {
    margin: 0 0 20px 100px;
  }
  
 .contact .contacts .form-col1 {
   width: 45%;
 }
 
 .contact .contacts .form-col2 {
   width: 45%;
 }
 
 .back-to-top {
   margin: -25px auto;
 }
}