:root {
  --main-color: #fff;
  --paragraph-color: #55595c;
}

body {
  max-width: 1124px;
  margin: auto;
  font-family:'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, nav a {
  font-family: 'Raleway SemiBold', sans-serif;
}

.banner {
  background-image: url(../img/banner.jpg);
  min-height: 690px;
  background-size: cover;
  background-position: center;
  color: var(--main-color);
}

/*.banner .navigation {
  position: fixed;
  top: 0;
  left: 0;
}*/

.banner .logo {
  width: 112px;
  height: 65px;
  background-color: #ffc200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .logo .logo-img {
  width: 50%;
}

.banner .content-slider {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  
.slider {
  height: 400px;
  width: 650px;
  margin-top: 100px;
  margin-left: 170px;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 400px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 650px;
  height: 400px;
  position: absolute;
  top: -405px;
  list-style: none;
}

.slider h1 {
  font-size: 2.6rem;
  font-weight: 800;
}

.slider hr {
    width: 100px;
    height: 3px;
    margin-left: 0;
    background-color: #ffc10c;
    border: none;
}

.slider p {
    font-size: 1.2rem;
    color: #b6b7b9;
    line-height: 32px;
}
.slider li.slider-1 {
  animation: cycle 15s linear infinite;
}

.slider li.slider-2 {
  animation: cycle2 15s linear infinite;
}

.slider li.slider-3 {
  animation: cycle3 15s linear infinite;
}

.slider li.slider-4 {
  animation: cycle4 15s linear infinite;
}

.slider li.slider-5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -405px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -405px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -405px;
    opacity: 0;
  }
  16% {
    top: -405px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -405px;
    opacity: 0;
  }
  36% {
    top: -405px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -405px;
    opacity: 0;
  }
  56% {
    top: -405px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -405px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -405px;
    opacity: 0;
  }
  76% {
    top: -405px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 405px;
    opacity: 0;
    z-index: 0;
  }
}

.more-about-button {
  width: 200px;
  height: 50px;
  background-color: #e64e04;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -25px 580px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.more-about-button a {
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 900;
  text-decoration: none; 
}

.more-about-button:hover {
    background-color: #ffc10c;  
}

.works {
  background-color: #101417;
  z-index: 1;
}

.works h3 {
  color: var(--main-color);
  margin-top: 0;
  padding-top: 70px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
}

.works h3 span {
  color: #d5ca54;
}

.works .section-info hr {
  width: 100px;
  height: 2px;
  margin-left: 0;
  background-color: #2c3437;
  border: none;
}

.works .section-info .paragraph {
  color: var(--paragraph-color);
  line-height: 1.5rem;
  margin: 20px 0 50px 0;
}
  
.works .project-works {
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 540px)  {
  .banner .soc-media-icons {
    display: none;
  }
  
  .banner .menu-links {
    display: none;
  }
  
  .clock {
    display: none;
  }
  
  .banner .content-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .slider {
    height: 400px;
    width: 300px;
    margin-top: 100px;
    margin-left: 20px;
    overflow: visible;
    position: relative;
  }
  
  .slider li {
    width: 300px;
  }
  
  .slider h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .slider hr {
    width: 100px;
    height: 2px;
  }

  .slider p {
    font-size: 0.79rem;
    line-height: 22px;
  }
  
  .banner .more-about-button {
    margin: -25px auto;
  }
  
  .works .section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }
  
  .works .project-works img {
    width: 100%;
    height: 100%;
  }
}

@media(min-width: 541px) and (max-width: 800px)  {
  .banner .soc-media-icons {
    display: none;
  }
  
  .banner .menu-links {
    display: none;
  }
  
  .banner .content-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 20px;
    overflow: visible;
    position: relative;
  }
  
  .slider li {
    width: 500px;
  }
  
  .slider h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .slider hr {
    width: 100px;
    height: 2px;
  }

  .slider p {
    font-size: 0.85rem;
    line-height: 24px;
  }
  
  .clock {
    display: none;
  }
  
  .works .section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }
  
  .works .project-works img {
    width: 50%;
    height: 50%;
  }
}
  
@media(min-width: 801px ) {
  .banner .navigation {
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
  .banner .logo {
    margin-left: 100px;
  }
    
  .banner nav {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
  }

  .banner nav a {
    text-decoration: none;
    color: var(--main-color);
    padding: 25px 15px;
  }
  
  .banner nav a:hover,
  .banner .soc-media-icons a:hover {
      color: #ffbb01;
  }

  .banner nav a:last-child {
      border-right: 1px solid #242424;
    }
    
  .banner .soc-media-icons {
    margin-left: 20px;
  }
  
  .banner .soc-media-icons a {
    color: var(--main-color);
    margin: 10px 5px;
  }
  
  .clock {
    font-family: 'Nanum Gothic', sans-serif;;
    width: 200px;
    height: 50px;
    color: #ffc10c;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 120px;
    
 }

  .banner .content-slider {
    width: 100%;
    height: 360px;
    margin-left: -180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .works .section-info {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .works .project-works img {
    width: 25%;
    height: 25%;
  }
}